<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
    <div>
        <label>Name</label>
        <input type="text" name="user-name">
    </div>
    <div>
        <label>How did you find out about us?</label>
        <input type="radio" name="found-by" value="friends"/>Recommended by friends
        <input type="radio" name="found-by" value="search engines"/>From search engines
        <input type="radio" name="found-by" value="social media"/>From social media
        <input type="radio" name="found-by" value="others"/>Others
    </div>
    <div>
        <label>Which sections of the website did you find helpful?</label>
        <input type="checkbox" name="helpful" value="tutorials"/>Tutorials
        <input type="checkbox" name="helpful" value="videos"/>Videos
        <input type="checkbox" name="helpful" value="forums"/>Forums
    </div>
    <input type="submit"/>
</form>
</body>
</html>