<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
    <div>
        <label>Name</label>
        <input type="text" name="user-name">
    </div>
    <div>
        <label>How did you find out about us?</label>
        <input type="radio" name="found-by"/>>Recommended by friends
        <input type="radio" name="found-by"/>>From search engines
        <input type="radio" name="found-by"/>>From social media
        <input type="radio" name="found-by"/>>Others
    </div>
    <div>
        <label>Which sections of the website did you find helpful?</label>
        <input type="checkbox" name="helpful"/>Tutorials
        <input type="checkbox" name="helpful"/>Videos
        <input type="checkbox" name="helpful"/>Forums
    </div>
</form>
</body>
</html>